In [1]:
from src.model_funcs import *
from src.data_funcs import *
from sklearn.model_selection import train_test_split

In [2]:
anime_df = pd.read_csv('data/anime.csv')
rating_df = pd.read_csv('data/rating.csv')
#Remove the -1's, which are no values for the ratings
rating_df = rating_df[rating_df['rating']!=-1]
anime_meta = pd.read_csv('data/AnimeList_meta.csv')
users_meta = pd.read_csv('data/UserList_Meta.csv')
anime_full = full_anime_df(rating_df, anime_df, anime_meta)

In [3]:
sim_mat1 = sim_mat(anime_full, ver='basic')
sim_mat2 = sim_mat(anime_full, ver='genre')

In [4]:
sim_mat2

anime_id,32281,5114,28977,9253,9969,32935,11061,820,15335,15417,...,29992,26031,10368,9352,5541,9316,5543,5621,6133,26081
anime_id,,,,,,,,,,,,,,,,,,,,,
32281,1.000000,0.914665,0.900678,0.938965,0.911562,0.948605,0.928031,0.925167,0.919759,0.909034,...,0.917854,0.917798,0.917775,0.917641,0.917707,0.917592,0.917665,0.917709,0.917780,0.933362
5114,0.914665,1.000000,0.946319,0.919406,0.935523,0.950901,0.951845,0.928234,0.922605,0.933990,...,0.898781,0.898726,0.898703,0.898572,0.898637,0.898524,0.898595,0.898638,0.898708,0.898803
28977,0.900678,0.946319,1.000000,0.938661,0.988967,0.937796,0.938988,0.925910,0.977284,0.988688,...,0.895518,0.895464,0.895441,0.895310,0.895375,0.895263,0.895334,0.895377,0.895446,0.895540
9253,0.938965,0.919406,0.938661,1.000000,0.949705,0.942181,0.944032,0.941554,0.936041,0.947900,...,0.922544,0.922487,0.922464,0.922329,0.922396,0.922280,0.922353,0.922397,0.922469,0.922566
9969,0.911562,0.935523,0.988967,0.949705,1.000000,0.949108,0.950001,0.914328,0.988607,0.999967,...,0.895391,0.895336,0.895314,0.895183,0.895248,0.895135,0.895206,0.895249,0.895319,0.895413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9316,0.917592,0.898524,0.895263,0.922280,0.895135,0.909032,0.911455,0.924426,0.891747,0.892382,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.978089
5543,0.917665,0.898595,0.895334,0.922353,0.895206,0.909104,0.911527,0.924485,0.891817,0.892453,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.978107
5621,0.917709,0.898638,0.895377,0.922397,0.895249,0.909147,0.911571,0.924520,0.891860,0.892496,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.978118
6133,0.917780,0.898708,0.895446,0.922469,0.895319,0.909218,0.911642,0.924578,0.891929,0.892565,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.978136
26081,0.933362,0.898803,0.895540,0.922566,0.895413,0.909314,0.911738,0.908498,0.907973,0.892659,...,0.978155,0.978141,0.978135,0.978101,0.978118,0.978089,0.978107,0.978118,0.978136,1.000000

In [124]:
find_id(anime_full)

Please select Movie, TV, or Both:tv
Enter title keywords here to search:seven

,anime_id,name,title_english,type
141,23755,Nanatsu No Taizai,The Seven Deadly Sins,TV
314,237,Eureka Seven,Eureka Seven,TV
668,28677,Yamada-Kun To 7-Nin No Majo (Tv),Yamada-Kun And The Seven Witches,TV
701,1562,Yamato Nadeshiko Shichihenge♥,The Seven Metamorphoses Of Yamato Nadeshiko,TV
1480,28285,Trinity Seven Ova,NaN,OVA
1501,31722,Nanatsu No Taizai: Seisen No Shirushi,The Seven Deadly Sins: Signs Of Holy War,TV
1832,108,Ou Dorobou Jing In Seventh Heaven,Jing: King Of Bandits - Seventh Heaven,OVA
1845,25157,Trinity Seven,Trinity Seven,TV
2012,7769,Ookami-San To Shichinin No Nakama-Tachi,Okami-San And Her Seven Companions,TV
3794,12471,Eureka Seven Ao,NaN,TV
3978,9750,Itsuka Tenma No Kuro Usagi,A Dark Rabbit Has Seven Lives,TV
4355,4197,Blue Dragon: Tenkai No Shichi Ryuu,Blue Dragon: The Seven Dragons Of The Heavens,TV
4375,10156,Sacred Seven,Sacred Seven,TV
5324,1193,Happy Seven: The Tv Manga,NaN,TV
5482,14875,Eureka Seven Ao: Jungfrau No Hanabana-Tachi,NaN,OVA
5973,15979,Eureka Seven Ao: Aratanari Fukaki Ao,NaN,ONA
6743,668,Koi Koi 7,Koi Koi Seven,TV
7299,27949,Mattsu To Yanma To Moburi-San: Nanatsu No Hiho...,"Mattsu, Yamma And Moburi - The Mystery Of The ...",ONA
9785,21019,Nunbori,Noonbory And The Super Seven,TV
11080,33834,Sin: Nanatsu No Taizai,Seven Mortal Sins,TV

In [125]:
content_based(anime_full, sim_mat2)
#Why only the top 7 and not 10?

Find Your Favorite Anime Below, and paste the ID:31722
['Nanatsu No Taizai: Seisen No Shirushi']: ['TV']
Based On the anime referenced, you would enjoy:

                                  name                     title_english type
anime_id
18115       Magi: The Kingdom Of Magic        Magi: The Kingdom Of Magic   TV
23755                Nanatsu No Taizai             The Seven Deadly Sins   TV
22043                Fairy Tail (2014)               Fairy Tail Series 2   TV
14513     Magi: The Labyrinth Of Magic      Magi: The Labyrinth Of Magic   TV
6702                        Fairy Tail                        Fairy Tail   TV
31741      Magi: Sinbad No Bouken (Tv)         Magi: Adventure Of Sinbad   TV
8311               Tegamibachi Reverse  Tegami Bachi: Letter Bee Reverse   TV
30347            Nanatsu No Taizai Ova                               NaN  OVA
6444                       Tegamibachi          Tegami Bachi: Letter Bee   TV
177                  Tsubasa Chronicle       Tsubasa Reservoir Chronicle   TV

In [30]:
content_based(anime_full, sim_mat1)

Find Your Favorite Anime Below, and paste the ID:452
['Inuyasha: Toki Wo Koeru Omoi']: ['Movie']
Based On the anime referenced, you would enjoy:

,name,title_english,type
anime_id,,,
21899,Gintama: Yorinuki Gintama-San On Theater 2D,NaN,Movie
780,Detective Conan Movie 02: The Fourteenth Target,Case Closed: The Fourteenth Target,Movie
1462,Memories,NaN,Movie
531,Bishoujo Senshi Sailor Moon R: The Movie,Sailor Moon R: The Movie,Movie
464,One Piece Movie 6: Omatsuri Danshaku To Himits...,One Piece: Baron Omatsuri And The Secret Island,Movie
462,One Piece Movie 4: Dead End No Bouken,One Piece: Dead End,Movie
901,"Dragon Ball Z Movie 08: Moetsukiro!! Nessen, R...",Dragon Ball Z Movie 08: Broly - The Legendary ...,Movie
14837,Dragon Ball Z Movie 14: Kami To Kami,Dragon Ball Z: Battle Of Gods,Movie
10589,Naruto: Shippuuden Movie 5 - Blood Prison,NaN,Movie
8246,Naruto: Shippuuden Movie 4 - The Lost Tower,NaN,Movie

In [117]:
studio_dict = {'Studio 1': ['Aniplex', 'Studio Jack', 'East Japan Marketing &amp; Communications', 'Kadokawa Pictures Japan', 'Kitty Films'],
              'Studio 2': ['Amuse', 'NHK', 'TBS', 'Hakuhodo DY Media Partners', 'Sony Music Entertainment'],
              'Studio 3': ['NHK', 'Amuse', 'Aniplex', 'Studio Jack', 'Kadokawa Pictures Japan'],
              'Studio 4': ['TBS', 'NHK', 'Hakuhodo DY Media Partners', 'Sony Music Entertainment', 'VAP'],
              'Studio 5': ['Media Factory', 'TBS', 'Amuse', 'Sony Music Entertainment', 'Kodansha']}
producer_dict = {'Producer 1': ['Sunrise', 'J.C.Staff', 'Studio Pierrot', 'TMS Entertainment', 'Studio Deen'],
              'Producer 2': ['Unknown', 'Sunrise', 'Madhouse', 'J.C.Staff', 'Studio Pierrot'],
              'Producer 3': ['Toei Animation', 'Unknown', 'Nippon Animation', 'OLM', 'Tatsunoko Production'],
              'Producer 4': ['Madhouse', 'Toei Animation', 'Sunrise', 'OLM', 'Xebec'],
              'Producer 5': ['Production I.G', 'Toei Animation', 'Sunrise', 'OLM,' 'Xebec']}

In [121]:
for key, val in studio_dict.items():
    for studio in val:
        ContBased_3[key] = ContBased_3['studio'].transform(lambda x: 1 if studio in x else 0)

Aniplex
Amuse
NHK
TBS
Media Factory

In [ ]:
def sim_mat(anime_full, ver='basic'):
    '''
    Returns similarity matrix with cosine similarity based on the anime_dataframe provided

    INPUT - 
    anime_full: Formatted anime dataframe using the full_anime_df function, size (nxm)

    OUTPUT -
    dataframe containing the similaries between each anime in anime_full, size (nxn)
    '''
    if ver=='basic':
        basic_rec = anime_full[['anime_id','type','source','rating_type','weighted_rating']]
        basic_rec = pd.get_dummies(basic_rec, columns=['type','source','rating_type']).set_index('anime_id')
        basic_rec = basic_rec.dropna(axis=0, subset=['weighted_rating'])
        anime_similarity_cos = cosine_similarity(basic_rec)
        anime_similarity_cosdf = pd.DataFrame(anime_similarity_cos, index=basic_rec.T.columns, columns=basic_rec.T.columns)
        return anime_similarity_cosdf
    elif ver=='genre':
        ContBased_2 = anime_full[['anime_id','type','source','rating_type','weighted_rating']]
        vect = CountVectorizer()
        count_vect = vect.fit_transform(anime_full['genre'])
        features = vect.get_feature_names()
        genre_matrix = count_vect.toarray()
        genre_df = pd.DataFrame(genre_matrix, columns =features, index=anime_full['anime_id'])
        ContBased_2 = ContBased_2.merge(right=genre_df,how='inner',on='anime_id')
        ContBased_2 = pd.get_dummies(ContBased_2, columns=['type','source','rating_type']).set_index('anime_id')
        ContBased_2 = ContBased_2.dropna(axis=0, subset=['weighted_rating'])
        df = ContBased_2
        anime_similarity_cos = cosine_similarity(df)
        anime_similarity_cosdf = pd.DataFrame(anime_similarity_cos, index=df.T.columns, columns=df.T.columns)
        return anime_similarity_cosdf
    elif ver=='adv':
        ContBased_3 = anime_full[['anime_id','type','source','rating_type','weighted_rating','studio','producer']]
        vect = CountVectorizer()
        count_vect = vect.fit_transform(anime_full['genre'])
        features = vect.get_feature_names()
        genre_matrix = count_vect.toarray()
        genre_df = pd.DataFrame(genre_matrix, columns =features, index=anime_full['anime_id'])
        top_studios = ['Studio Chizu', 'Marvy Jack', 'Bandai Namco Pictures', 'White Fox', 'Purple Cow Studio Japan', 
        'Shuka', 'Egg Firm', 'Square Enix', 'Wit Studio', 'Lay-duce', 'Studio Ghibli', 'Graphinica', 'David Production', 
        'Bridge', 'Animation Do', 'P.A. Works', 'Kyoto Animation', 'Manglobe', 'Artland', 'Hoods Drifters Studio']
        top_producers = ['Studio Moriken', 'Quaras', 'Seikaisha', 'Mad Box', 'Forecast Communications', 'StudioRF Inc.', 
        'CIC', 'TAP', 'Miracle Robo', 'Madoka Partners', 'Animation Do', 'Studio Wombat', 'GYAO!', 
        'Shingeki no Kyojin Team', 'C &amp; I entertainment', 'Top-Insight International Co.', 'LTD.', 
        'East Japan Marketing &amp; Communications', 'Audio Highs','Banpresto']
        for studio in top_studios:
            ContBased_3[studio] = ContBased_3['studio'].transform(lambda x: 1 if studio in x else 0)
        for producer in top_producers:
            ContBased_3[producer] = ContBased_3['producer'].transform(lambda x: 1 if studio in x else 0)
        ContBased_3 = ContBased_3.merge(right=genre_df,how='inner',on='anime_id')
        ContBased_3 = pd.get_dummies(ContBased_3, columns=['type','source','rating_type']).set_index('anime_id')
        ContBased_3 = ContBased_3.drop(columns=['studio','producer'])
        ContBased_3 = ContBased_3.dropna(axis=0, subset=['weighted_rating'])
        df = ContBased_3.copy()
        anime_similarity_cos = cosine_similarity(df)
        anime_similarity_cosdf = pd.DataFrame(anime_similarity_cos, index=df.T.columns, columns=df.T.columns)
        return anime_similarity_cosdf
    else:
        return 'Please Select basic, genre, or adv for ver'

In [46]:
ContBased_3 = anime_full[['anime_id','type','source','rating_type','weighted_rating','studio','producer']]
vect = CountVectorizer()
count_vect = vect.fit_transform(anime_full['genre'])
features = vect.get_feature_names()
genre_matrix = count_vect.toarray()
genre_df = pd.DataFrame(genre_matrix, columns =features, index=anime_full['anime_id'])

,anime_id,type,source,rating_type,weighted_rating,studio,producer
0,32281,Movie,Original,PG-13,9.169377,CoMix Wave Films,"Kadokawa Shoten, Toho, Sound Team Don Juan, La..."
1,5114,TV,Manga,R,9.208548,Bones,"Aniplex, Square Enix, Mainichi Broadcasting Sy..."
2,28977,TV,Manga,R,8.929129,Bandai Namco Pictures,"TV Tokyo, Aniplex, Dentsu"
3,9253,TV,Visual novel,PG-13,9.111525,White Fox,"Frontier Works, Media Factory, Movic, AT-X, Ka..."
4,9969,TV,Manga,PG-13,8.918657,Sunrise,"TV Tokyo, Aniplex, Dentsu, Trinity Sound, Mira..."
...,...,...,...,...,...,...,...
12289,9316,OVA,Unknown,RX,6.441523,Unknown,Unknown
12290,5543,OVA,Unknown,RX,6.447341,Unknown,Unknown
12291,5621,OVA,Unknown,RX,6.450864,Unknown,Unknown
12292,6133,OVA,Unknown,RX,6.456597,Unknown,Unknown
12293,26081,Movie,Unknown,RX,6.464351,Unknown,Unknown

In [70]:
ContBased_3['producer'] = ContBased_3['producer'].transform(lambda x: x.split(','))
ContBased_3['studio'] = ContBased_3['studio'].transform(lambda x: x.split(','))
ContBased_3

/Users/sherryduong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/sherryduong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,anime_id,type,source,rating_type,weighted_rating,studio,producer
0,32281,Movie,Original,PG-13,9.169377,[CoMix Wave Films],"[Kadokawa Shoten, Toho, Sound Team Don Juan,..."
1,5114,TV,Manga,R,9.208548,[Bones],"[Aniplex, Square Enix, Mainichi Broadcasting..."
2,28977,TV,Manga,R,8.929129,[Bandai Namco Pictures],"[TV Tokyo, Aniplex, Dentsu]"
3,9253,TV,Visual novel,PG-13,9.111525,[White Fox],"[Frontier Works, Media Factory, Movic, AT-X..."
4,9969,TV,Manga,PG-13,8.918657,[Sunrise],"[TV Tokyo, Aniplex, Dentsu, Trinity Sound, ..."
...,...,...,...,...,...,...,...
12289,9316,OVA,Unknown,RX,6.441523,[Unknown],[Unknown]
12290,5543,OVA,Unknown,RX,6.447341,[Unknown],[Unknown]
12291,5621,OVA,Unknown,RX,6.450864,[Unknown],[Unknown]
12292,6133,OVA,Unknown,RX,6.456597,[Unknown],[Unknown]
12293,26081,Movie,Unknown,RX,6.464351,[Unknown],[Unknown]

In [86]:
new_df = ContBased_3.explode('studio')
new_df = new_df.explode('producer')
new_df['studio'] = new_df['studio'].transform(lambda x: x[1:] if x[0]==" " else x)
new_df['producer'] = new_df['producer'].transform(lambda x: x[1:] if x[0]==" " else x)
studios = new_df['studio'].unique()
producers = new_df['producer'].unique()

In [87]:
studio_matrix = pd.DataFrame()
producer_matrix = pd.DataFrame()
for studio in studios:
    studio_matrix[studio] = ContBased_3['studio'].transform(lambda x: 1 if studio in x else 0)
for producer in producers:
    producer_matrix[producer] = ContBased_3['producer'].transform(lambda x: 1 if producer in x else 0)
import os
os.system("say 'Complete'")

0

In [88]:
producer_matrix

,Kadokawa Shoten,Toho,Sound Team Don Juan,Lawson HMV Entertainment,Amuse,East Japan Marketing &amp; Communications,Aniplex,Square Enix,Mainichi Broadcasting System,Studio Moriken,...,Comstock,Shinyusha,Byakuya Shobo,Langmaor,Ripple Film,Fuji Video,SIDO LIMITED,Sugar Boy,Natural High,Allure
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
from sklearn.decomposition import NMF
nmf = NMF(n_components=5)
W2 = nmf.fit_transform(studio_matrix)
H2 = nmf.components_

In [90]:
df = pd.DataFrame(studio_matrix, columns=studio_matrix.columns)
H_df2 = pd.DataFrame(H2)
topics = {}
for row in H_df2.index:
    top_words = H_df2.iloc[row,:].sort_values(ascending=False).head(10).index
    topics[row] = df.columns[top_words]
topics

{0: Index(['Unknown', 'Sugar Boy', 'Studio World', 'Sparkly Key Animation Studio',
        'Enoki Films', 'Dai Nippon Printing', 'Karaku', 'Fanworks',
        'Digital Frontier', 'Steve N&#039; Steven'],
       dtype='object'),
 1: Index(['Toei Animation', 'Sugar Boy', 'DLE', 'Sparkly Key Animation Studio',
        'Enoki Films', 'Dai Nippon Printing', 'Karaku', 'Fanworks',
        'Digital Frontier', 'Steve N&#039; Steven'],
       dtype='object'),
 2: Index(['Sunrise', 'Studio Pierrot', 'TMS Entertainment', 'Nippon Animation',
        'OLM', 'Bones', 'Shaft', 'Kyoto Animation', 'Arms', 'Fanworks'],
       dtype='object'),
 3: Index(['Madhouse', 'Shin-Ei Animation', 'A-1 Pictures', 'Tatsunoko Production',
        'Xebec', 'Gonzo', 'AIC', 'Bones', 'Kyoto Animation',
        'Brain&#039;s Base'],
       dtype='object'),
 4: Index(['J.C.Staff', 'Production I.G', 'TMS Entertainment', 'Studio Pierrot',
        'Studio Deen', 'Nippon Animation', 'Gonzo', 'Shaft', 'Gainax', 'Arms'],
       dtype='object')}

In [91]:
nmf = NMF(n_components=5)
W2 = nmf.fit_transform(producer_matrix)
H2 = nmf.components_
df = pd.DataFrame(producer_matrix, columns=producer_matrix.columns)
H_df2 = pd.DataFrame(H2)
topics = {}
for row in H_df2.index:
    top_words = H_df2.iloc[row,:].sort_values(ascending=False).head(10).index
    topics[row] = df.columns[top_words]
topics

{0: Index(['Unknown', 'Allure', 'Shin-Ei Animation', 'CREi', 'Kinoshita Koumuten',
        'Ichijinsha', 'Studio Zain', 'Yumeta Company', 'Anime Consortium Japan',
        'Japan Home Video'],
       dtype='object'),
 1: Index(['TV Tokyo', 'Lantis', 'Sanrio', 'Starchild Records', 'TV Asahi', 'AIC',
        'DAX Production', 'Gakken', 'Shogakukan Productions', 'Kobunsha'],
       dtype='object'),
 2: Index(['Bandai Visual', 'Sanrio', 'Lantis', 'Starchild Records', 'TV Asahi',
        'TBS', 'Genco', 'AIC', 'Shogakukan Productions',
        'Nippon Television Music'],
       dtype='object'),
 3: Index(['Aniplex', 'Lantis', 'Sanrio', 'Starchild Records', 'TV Asahi', 'TBS',
        'Genco', 'AIC', 'Frontier Works', 'DAX Production'],
       dtype='object'),
 4: Index(['NHK', 'VAP', 'Fuji TV', 'Sotsu', 'Tokyo Movie Shinsha',
        'Pink Pineapple', 'Kadokawa Shoten', 'Milky Animation Label',
        'Pony Canyon', 'Geneon Universal Entertainment'],
       dtype='object')}

In [110]:
from sklearn.cluster import KMeans
kmeans = KMeans(5)
km= kmeans.fit(producer_matrix)

In [114]:
top_centroids = km.cluster_centers_.argsort()[:,-1:-6:-1]
print("Clusters of Producers:")
for num, centroid in enumerate(top_centroids):
    print(f"{num}, {', '.join(producer_matrix.columns[i] for i in centroid)}")

Clusters of Producers:
0, Aniplex, Studio Jack, East Japan Marketing &amp; Communications, Kadokawa Pictures Japan, Kitty Films
1, Amuse, NHK, TBS, Hakuhodo DY Media Partners, Sony Music Entertainment
2, NHK, Amuse, Aniplex, Studio Jack, Kadokawa Pictures Japan
3, TBS, NHK, Hakuhodo DY Media Partners, Sony Music Entertainment, VAP
4, Media Factory, TBS, Amuse, Sony Music Entertainment, Kodansha

In [115]:
km2= kmeans.fit(studio_matrix)
top_centroids = km2.cluster_centers_.argsort()[:,-1:-6:-1]
print("Clusters of Studios:")
for num, centroid in enumerate(top_centroids):
    print(f"{num}, {', '.join(studio_matrix.columns[i] for i in centroid)}")

Clusters of Studios:
0, Sunrise, J.C.Staff, Studio Pierrot, TMS Entertainment, Studio Deen
1, Unknown, Sunrise, Madhouse, J.C.Staff, Studio Pierrot
2, Toei Animation, Unknown, Nippon Animation, OLM, Tatsunoko Production
3, Madhouse, Toei Animation, Sunrise, OLM, Xebec
4, Production I.G, Toei Animation, Sunrise, OLM, Xebec

## Calculate Predicted Ratings based on similarity matrix
<br>sim_mat1 = basic similarity matrix
<br>sim_mat2 = genre similarity matrix

In [28]:
dummy_ratings = np.array([[1,0,2,0],[0,2,3,4],[3,0,1,5],[0,2,0,0],[2,0,0,1]])
dummy_sim = np.array([[1,0.3,0.2,0.4],[0.3,1,0.7,0],[0.2,0.7,1,0.3],[0.4,0,0.3,1]])
dummy_simdf = pd.DataFrame(dummy_sim, index=['a','b','c','d'], columns=['a','b','c','d'])
dummy_ratingsdf = pd.DataFrame(dummy_ratings, index=['al','bob','cat','dan','ed'], columns=['a','b','c','d'])
dummy_ratingsdf
dummy_simdf

     a    b    c    d
a  1.0  0.3  0.2  0.4
b  0.3  1.0  0.7  0.0
c  0.2  0.7  1.0  0.3
d  0.4  0.0  0.3  1.0

In [172]:
def pred_user_rating(sim_mat, utility_mat, user_id, anime_id):
    anime_ids = utility_mat.columns
    ratings = utility_mat.iloc[utility_mat.index==user_id, utility_mat.columns!=anime_id].values
    sim_mat_red = sim_mat.iloc[sim_mat.index.isin(anime_ids), sim_mat.columns.isin(anime_ids)]
    sims = sim_mat_red.iloc[sim_mat_red.index==anime_id, sim_mat_red.columns!=anime_id].values
    pred_rating = np.sum(ratings*sims)/np.sum(sims)
    return pred_rating

In [19]:
dummy_ratings.nonzero()[1]

array([0, 2, 1, 2, 3, 0, 2, 3, 1, 0, 3])

In [48]:
ratings_mat = dummy_ratingsdf
sim_mat = dummy_simdf
user_id = 'al'
anime_id = 'b'
ratings = ratings_mat.loc[user_id, ratings_mat.columns!=anime_id]
sims = sim_mat.loc[anime_id, sim_mat.columns!=anime_id]
pred_rating = sum(ratings*sims)/sum(sims)

In [53]:
def fillna_ratingspivot(ratings_pivot, method='item_avg'):
    if method=='zero':
        return ratings_pivot.fillna(0)
    elif method=='user_avg':
        return ratings_pivot.fillna(ratings_pivot.mean(axis=0)) 
    elif method=='item_avg':
        return ratings_pivot.T.fillna(ratings_pivot.mean(axis=1)).T
    else:
        return 'Please select method from: zero, user_avg, or item_avg'

def rating_pivot(anime_full, rating_df, method='item_avg'):
    anime_map = anime_full[['anime_id','name','title_english', 'type']]
    user_grp = rating_df.groupby('user_id').count()['rating']
    item_grp = rating_df.groupby('anime_id').count()['rating']
    
    users_over_thresh = user_grp[user_grp>300].index
    anime_over_thresh = item_grp[item_grp>2500].index

    #Only take the users & anime over the thresholds
    reduced_df = rating_df[(rating_df['user_id'].isin(users_over_thresh)) & (rating_df['anime_id'].isin(anime_over_thresh))]

    ratings_pivot = pd.pivot_table(data=reduced_df, values='rating', index='anime_id', columns='user_id')
    ratings_pivot1 = fillna_ratingspivot(ratings_pivot, method=method)
    return ratings_pivot1

In [54]:
utility_mat = rating_pivot(anime_full, rating_df, method='zero').T
utility_mat

anime_id,1,5,6,16,19,20,24,27,30,31,...,30544,30831,31043,31240,31637,31798,31859,31964,32182,32282
user_id,,,,,,,,,,,,,,,,,,,,,
5,0.0,0.0,8.0,0.0,0.0,6.0,1.0,0.0,1.0,0.0,...,0.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,9.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,9.0,...,8.0,8.0,9.0,0.0,7.0,0.0,7.0,0.0,0.0,0.0
17,0.0,0.0,7.0,0.0,10.0,0.0,0.0,0.0,9.0,0.0,...,0.0,8.0,8.0,9.0,0.0,6.0,0.0,8.0,9.0,8.0
46,10.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,8.0,8.0
123,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,0.0,9.0,8.0,7.0,9.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73417,8.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,...,7.0,0.0,9.0,0.0,7.0,0.0,7.0,7.0,0.0,0.0
73422,9.0,0.0,8.0,0.0,0.0,0.0,6.0,0.0,9.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73457,10.0,10.0,0.0,0.0,0.0,2.0,0.0,8.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
73499,9.0,0.0,9.0,0.0,0.0,8.0,9.0,0.0,9.0,0.0,...,0.0,8.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
73502,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [175]:
#Predicted rating
sim_mat = sim_mat2
ratings_mat = utility_mat
anime_id=20
user_id=5

anime_ids = ratings_mat.columns
ratings = ratings_mat.iloc[ratings_mat.index==user_id, ratings_mat.columns!=anime_id].values
sim_mat_red = sim_mat.iloc[sim_mat.index.isin(anime_ids), sim_mat.columns.isin(anime_ids)]
sims = sim_mat_red.iloc[sim_mat_red.index==anime_id, sim_mat_red.columns!=anime_id].values
pred_rating = np.sum(ratings*sims)/np.sum(sims)
pred_rating

1.5616276900157817

In [176]:
pred_user_rating(sim_mat, utility_mat, user_id, anime_id)

1.5616276900157817

In [177]:
#Actual rating
ratings_mat.iloc[ratings_mat.index==user_id, ratings_mat.columns==anime_id].values

array([[6.]])

In [183]:
test_users = ratings_mat.index
test_anime = ratings_mat.columns

In [191]:
test

         user_id  anime_id  rating
302            5         6       8
306            5        20       6
308            5        24       1
309            5        30       1
310            5        45       7
...          ...       ...     ...
7812686    73502     17247       9
7812688    73502     17549       9
7812697    73502     18247       4
7812700    73502     19221       6
7812702    73502     19369       9

[1037652 rows x 3 columns]

In [202]:
predictions=[]
test_num = 1000
test = rating_df[(rating_df['user_id'].isin(test_users))& (rating_df['anime_id'].isin(test_anime))][:test_num]
for i in range(test_num):
    user_id = test.iloc[i,0]
    anime_id= test.iloc[i,1]
    predictions.append(pred_user_rating(sim_mat1, utility_mat, user_id, anime_id))

predictions2=[]
test_num = 1000
test = rating_df[(rating_df['user_id'].isin(test_users))& (rating_df['anime_id'].isin(test_anime))][:test_num]
for i in range(test_num):
    user_id = test.iloc[i,0]
    anime_id= test.iloc[i,1]
    predictions2.append(pred_user_rating(sim_mat2, utility_mat, user_id, anime_id))
print('complete')

complete

In [203]:
test['pred_rating_basic'] = predictions
test['pred_rating_genre'] = predictions2

In [204]:
test

      user_id  anime_id  rating  pred_rating_basic  pred_rating_genre
302         5         6       8           1.560444           1.563210
306         5        20       6           1.564132           1.561628
308         5        24       1           1.571314           1.571454
309         5        30       1           1.571428           1.574691
310         5        45       7           1.562066           1.562870
...       ...       ...     ...                ...                ...
9860      123     21603       5           1.854823           1.852349
9863      123     21843       7           1.852386           1.849190
9864      123     21863       7           1.852228           1.846516
9866      123     21995       5           1.856995           1.847679
9869      123     22145       7           1.852237           1.848467

[1000 rows x 5 columns]

In [198]:
from sklearn.metrics import mean_squared_error

In [205]:
rmse_basic = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_basic']))
rmse_genre = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_genre']))
print(rmse_basic, rmse_genre)

5.283444466770226 5.286414426229399

In [240]:
rating_df[rating_df['user_id']==user_id]['anime_id']

302        6
303       15
304       17
305       18
306       20
       ...
762    30831
763    31240
765    31722
767    32182
768    32828
Name: anime_id, Length: 459, dtype: int64

In [236]:
rating_df[rating_df['user_id']==user_id]['anime_id'].values.shape

(459,)

## Test iteration #2 for similarity based recommender, only takes non-zeros

In [ ]:
entire_pivot = pd.pivot_table(data=rating_df, values='rating', index='user_id', columns='anime_id', fill_value=0)

In [322]:
def pred_user_rating(sim_mat, utility_mat, user_id, anime_id):
    anime_ids = rating_df[rating_df['user_id']==user_id]['anime_id'].values
    anime_ids2 = anime_ids[anime_ids!=anime_id]
    ratings = utility_mat.iloc[utility_mat.index==user_id, utility_mat.columns.isin(anime_ids2)].values
    sim_mat_red = sim_mat.iloc[:, sim_mat.columns.isin(anime_ids2)]
    sims = sim_mat_red.iloc[sim_mat_red.index==anime_id, :].values
    pred_rating = np.sum(ratings*sims)/np.sum(sims)
    return pred_rating

In [317]:
#Predicted rating
sim_mat = sim_mat2
ratings_mat = entire_pivot
anime_id=31043
user_id=3

anime_ids = rating_df[rating_df['user_id']==user_id]['anime_id'].values
anime_ids = anime_ids[anime_ids!=anime_id]
ratings = ratings_mat.iloc[ratings_mat.index==user_id, ratings_mat.columns.isin(anime_ids)].values
sim_mat_red = sim_mat.iloc[:, sim_mat.columns.isin(anime_ids)]
sims = sim_mat_red.iloc[sim_mat_red.index==anime_id, :].values
pred_rating = np.sum(ratings*sims)/np.sum(sims)
pred_rating

7.545111005275081

In [315]:
user_id=3
anime_id=31043
anime_ids = rating_df[rating_df['user_id']==user_id]['anime_id'].values
print(anime_ids.shape)
anime_ids = anime_ids[anime_ids!=anime_id]
print(anime_ids.shape)
print(sims.shape)

(92,)
(91,)

In [318]:
pred_user_rating(sim_mat1, entire_pivot, user_id, anime_id)

7.541459629018254

In [295]:
filt = rating_df.groupby('user_id').count()['rating']
users_over_10 = filt[filt>10].index
rating_df[rating_df['user_id'].isin(users_over_10)]

         user_id  anime_id  rating
156            3        20       8
157            3       154       6
158            3       170       9
159            3       199      10
160            3       225       9
...          ...       ...     ...
7813730    73515     13659       8
7813731    73515     14345       7
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10

[6269219 rows x 3 columns]

In [286]:
rating_df[rating_df['user_id']==3]

     user_id  anime_id  rating
156        3        20       8
157        3       154       6
158        3       170       9
159        3       199      10
160        3       225       9
..       ...       ...     ...
243        3     28701       9
244        3     28891       9
245        3     29854       6
248        3     31043      10
249        3     31859       7

[92 rows x 3 columns]

In [296]:
test = rating_df[rating_df['user_id'].isin(users_over_10)]
test

         user_id  anime_id  rating
156            3        20       8
157            3       154       6
158            3       170       9
159            3       199      10
160            3       225       9
...          ...       ...     ...
7813730    73515     13659       8
7813731    73515     14345       7
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10

[6269219 rows x 3 columns]

In [324]:
predictions=[]
test_num = 10000
test = rating_df[rating_df['user_id'].isin(users_over_10)][:test_num]
for i in range(test_num):
    user_id = test.iloc[i,0]
    anime_id= test.iloc[i,1]
    predictions.append(pred_user_rating(sim_mat1, entire_pivot, user_id, anime_id))

predictions2=[]
for i in range(test_num):
    user_id = test.iloc[i,0]
    anime_id= test.iloc[i,1]
    predictions2.append(pred_user_rating(sim_mat2, entire_pivot, user_id, anime_id))
print('complete')

complete

In [325]:
test['pred_rating_basic'] = predictions
test['pred_rating_genre'] = predictions2

In [299]:
#Result with the first 1000 rows
rmse_basic = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_basic']))
rmse_genre = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_genre']))
print(rmse_basic, rmse_genre)

1.8626800338069336 1.8623685369806102

In [326]:
#Result with the first 10000 rows
rmse_basic = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_basic']))
rmse_genre = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_genre']))
print(rmse_basic, rmse_genre)

1.4297052988682144 1.4296510196966057

## Test on larger subset of randomized data

In [3]:
filt = rating_df.groupby('user_id').count()['rating']
user_ids = filt[filt>50].reset_index()['user_id'].values
over_df = rating_df[rating_df['user_id'].isin(user_ids)]
remaining_df = rating_df[~rating_df['user_id'].isin(user_ids)]
over_df.groupby('user_id').count()['rating'].sort_values()
y=over_df['user_id']
X=over_df.drop(columns=['user_id'])
anime_train, anime_test, user_train, user_test = train_test_split(X, y, test_size = 0.20, random_state = 0, stratify=y)
train_over_split = pd.concat([anime_train, user_train],axis=1)
train = pd.concat([train_over_split, remaining_df], axis=0)
test_df = pd.concat([anime_test, user_test],axis=1)

/Users/sherryduong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [8]:
from sklearn.metrics import mean_squared_error
train_mean = train['rating'].mean()
test_df['dumb_model'] = train_mean
rmse_dumb = np.sqrt(mean_squared_error(test_df['rating'],test_df['dumb_model']))
rmse_dumb

1.5720024740089027

In [415]:
def pred_user_rating(sim_mat, utility_mat, user_id, anime_id):
    anime_ids = rating_df[rating_df['user_id']==user_id]['anime_id'].values
    anime_ids2 = anime_ids[anime_ids!=anime_id]
    final_ids = anime_ids2[np.isin(anime_ids2, sim_mat.columns)]
    ratings = utility_mat.iloc[utility_mat.index==user_id, utility_mat.columns.isin(final_ids)].values
    sim_mat_red = sim_mat.iloc[:, sim_mat.columns.isin(final_ids)]
    sims = sim_mat_red.iloc[sim_mat_red.index==anime_id, :].values
    pred_rating = np.sum(ratings*sims)/np.sum(sims)
    return pred_rating

In [432]:
predictions=[]
test_num = 50000
test = test_df[:test_num]
for i in range(len(test)):
    user_id = test.iloc[i,2]
    anime_id= test.iloc[i,0]
    predictions.append(pred_user_rating(sim_mat1, entire_pivot, user_id, anime_id))

predictions2=[]
for i in range(len(test)):
    user_id = test.iloc[i,2]
    anime_id= test.iloc[i,0]
    predictions2.append(pred_user_rating(sim_mat2, entire_pivot, user_id, anime_id))

print('complete')

test['pred_rating_basic'] = predictions
test['pred_rating_genre'] = predictions2

rmse_basic = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_basic']))
rmse_genre = np.sqrt(mean_squared_error(test['rating'],test['pred_rating_genre']))
print(rmse_basic, rmse_genre)

complete

/Users/sherryduong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1.3617249719439828 1.3617233398903366

/Users/sherryduong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
os.system("say 'Complete'")

In [431]:
len(test_df)

1135622

In [ ]:
test_df['pred_basic'] = test_df.apply(lambda row: pred_user_rating(sim_mat1, entire_pivot, row['user_id'], row['anime_id']), axis=1)

In [ ]:
test_df['pred_genre'] = test_df.apply(lambda row: pred_user_rating(sim_mat2, entire_pivot, row['user_id'], row['anime_id']), axis=1)

In [ ]:
os.system("say 'Complete'")